Source: r-cran-testrcpppackage
Section: gnu-r
Priority: optional
Maintainer: Dirk Eddelbuettel <edd@debian.org>
Build-Depends: debhelper (>= 7.0.0), r-base-dev (>= 3.1.1), cdbs
Standards-Version: 3.9.6

Package: r-cran-testrcpppackage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${R:Depends}
Description: GNU R package to test Rcpp during Unit Tests

