useDynLib(Rcpp, 
    # .Call functions
    as_character_externalptr,
    
    CppField__get, CppField__set,
    
    Class__name,
    
    CppClass__complete, CppClass__methods,
    
    Module__classes_info,Module__complete,Module__get_class,
    Module__has_class,Module__has_function,Module__functions_arity,
    Module__name, 
    
    # .External functions
    CppMethod__invoke, InternalFunction_invoke, Module__invoke, class__newInstance
)

import( methods )
importFrom( utils, capture.output, assignInNamespace, .DollarNames, prompt, packageDescription )

exportClasses( Module, "C++ObjectS3", "C++Field", "C++Method", 
    "C++Class", "C++Object", "C++Function", 
    "C++ClassRepresentation" # , "C++Property"
    )

S3method( .DollarNames, "C++Object" )
S3method( .DollarNames, "Module" )
exportMethods( prompt, show, .DollarNames )

export( 
    Module, Rcpp.package.skeleton # , setRCppClass
)

