useDynLib(Rcpp)

export(RcppExample,
       print.RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample, 
       Rcpp.package.skeleton
)

importFrom( utils, capture.output )

